<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="/static/css/login.css">
        <script src="/static/js/login.js"></script>
    </head>
    <body>
        <form id="course_form" name="Course_form" method="POST">
            <div class="login-box">
                <div class="login-header">
                    <header>Login</header>
                </div>
                <div class="input-box">
                    <input type="text" id="Email" class="input-field" placeholder="Email" autocomplete="off" required>
                </div>
                <div class="input-box">
                    <input type="password" id="Passwrod"  class="input-field" placeholder="Password" autocomplete="off" required>
                </div>
                <div class="input-submit">
                    <button type="button" class="submit-btn" id="submit" onclick="submitForm()">Sign In</button>
                    <label for="submit">Sign In</label>
                </div>
            </div>
        </form>
    </body>
</html>