<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" href="/static/products.css">
    </head>
    <body>
        <div class="container">
            <table class="product-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.date }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.cost }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="logout-container">
                <div class="logout">
                    <button type="button" class="logout-btn" id="logout" onclick="logoutUser()">Log out</button>
                </div>
            </div>
        </div>
        </body>
</html>